<div id="page2wrap">
		<h1>How we got started</h1>
	<div id="p2p1">
		<p id="start">HAMILTRON PC's got started 2 years ago with a group of friends that loved to tear apart and fix computers. Since then we have learned everything there is to know about building computers and started this company to share our skills with people all over the world. Since the companies begining we have grown very quickly and plan to open another store within the next year.
	</div>
	<br>	
		<h2 id="ceo">Meet our CEO</h2>
	<div id="owner">
		<div>
			<h2 id="me">Carson Hamilton</h2>
			<img src="imgs/me.jpg" height="225px" width="350px" id="mepic">
			<p id="bio">I started this business to spread the word about custom computers and how it is very easy to build your own instead of paying extra to get a pre-built unit. Building computers has beem a hobby of mine for years every since I was 13 and built my first computer by myself. Now my free time is taken up by creating custom machines and teaching others how to put together their own rig. I hope to take this company to the next level and spread it around the world.</p>
		</div>
	</div>
	<br>
		<h2>Our plans for the future!</h2>
	<div id="future">
		<p id="plan">Our plan for the future isn't just building computers we hope to have classes teaching people about computers from the physical components to the software and even how to code. We want to be more than just another computer building company we want our customers to understand more and learn about what makes a computer tick. A big thing we would like to push for is teaching kids about computers early so they can turn it into a career themselves.</p>	
	</div>
</div>