<div id=buywrap>
    <div id="text">
        <h2 id="changetxt">test</h2>
    </div>
    <div id="class1">
        <div class="row1">
            <h3 class="compttl">V1</h3>
            <img src="imgs/comp1.jpg" width="250" height="250" class="pictures" id="picture1">
        </div>
        <br>
        <div class="row1">
            <h3 class="compttl">V2</h3>
            <img src="imgs/comp2.jpg" width="250" height="250" class="pictures" id="picture2">
        </div>
        <br>
        <div class="row1">
            <h3 class="compttl">V3</h3>
            <img src="imgs/comp3.jpg" width="250" height="250" class="pictures" id="picture3">
        </div>
    </div>
    <br>
    <br>
    <div id="class2">
        <div class="row1">
            <h3 class="compttl">V4</h3>
            <img src="imgs/comp4.jpg" width="250" height="250" class="pictures" id="picture4">
        </div>
        <br>
        <div class="row1">
            <h3 class="compttl">V5</h3>
            <img src="imgs/comp5.jpg" width="250" height="250" class="pictures" id="picture5">
        </div>
        <br>
        <div class="row1">
            <h3 class="compttl">VG</h3>
            <img src="imgs/comp6.jpg" width="250" height="250" class="pictures" id="picture6">
        </div>
    </div>
    <br>  
</div>
