<div class="wrapper4">	
	<div>
		<p id="p4par"> We at HAMILTRON PC's care about our customers! If you have any questions or concerns please let us know by sending us an email.</p>
	</div>
	<br>
	<div class="conform">
		<form action="/contact-us" method="POST">
			<div id="mail">
				<label for=:"email" class="labs">Email</label>
				<br>
				<input type="text" placeholder="email" name="email" id="p4mail">
			</div>
			<br>
			<div id="sub">
				<label for="subject" class="labs">Subject</label>
				<br>
				<input type="text" placeholder="subject" name="subject" id="p4sub">
			</div>
			<br>
			<div id="des">
				<label for="words" class="labs">Description</label>
				<br>
				<textarea type="text" placeholder="Put question here" name="words" id="p4des"></textarea>
			</div>
			<br>
			<input type="submit" value="Submit" id="subtn">	
		</form>
	</div>	
</div>